<!DOCTYPE html>
<html>
<% include head %>

<body>
	<% if(typeof usuarioLogeado == "undefined" || usuarioLogeado == false){ %>
		<% include menuLogin %>
	<% }else{ %>
		<% include menu %>
	<% }; %>

	<div id="app"></div>
	
</body>

<script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>
</html>