<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/css/lib/bootstrap.css" />
    <!--
    <link rel="stylesheet" type="text/css" href="/css/lib/bootstrap-theme.css" />
	-->
    <link rel="stylesheet" type="text/css" href="/css/lib/alertify-core.css" />
    <link rel="stylesheet" type="text/css" href="/css/lib/alertify-bootstrap.css" />
</head>
<body>
	<p>
  <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
  <button type="button" class="btn btn-default btn-xs">Extra small button</button>
</p>
</body>
<script type="text/javascript" src="js/lib/require.js" data-main="js/main"></script>
</html>